<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">

<div layout:fragment="siteContent">
  <div class="col-8 mx-auto">
    <div class="mt-3">
      <form th:action="@{'/users/sign-up'}" method="post">
        <div class="mb-3">
          <label for="emailInput1" class="form-label">Email</label>
          <input type="email" class="form-control" id="emailInput1" placeholder="email" name="email">
        </div>
        <div class="mb-3">
          <label for="fullNameInput1" class="form-label">Full Name</label>
          <input type="textl" class="form-control" id="fullNameInput1" placeholder="Full Name" name="fullName">
        </div>
        <div class="mb-3">
          <label for="ageInput1" class="form-label">Age</label>
          <input type="number" class="form-control" id="ageInput1" placeholder="Age" name="age">
        </div>
        <div class="mb-3">
          <label for="passwordInput1" class="form-label">Password</label>
          <input type="password" class="form-control" id="passwordInput1" placeholder="password" name="password">
        </div>
        <div class="mb-3">
          <label for="retypePasswordInput1" class="form-label">Retype password</label>
          <input type="password" class="form-control" id="retypePasswordInput1" placeholder="retype password" name="re-password">
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">Sign up</button>
      </form>
    </div>
  </div>
</div>
</html>